
body{
  background-color: #607D8B;
  margin: 0;
}
.myName{
  color: #e0e1c9;
  text-align: center;
  font-size: 40px;
  margin: 1.5% 0 0.5%;
  font-family: Trebuchet MS, Tahoma, serif;
  font-weight: bold;
}
.inputButton{
  margin-top: 1%;
  width: 100%;
  text-align: center;
  display: inline-block;
}
input{
  width: 45%;
  font-size: 30px;
  padding: 10px 0 6px 20px;
  border: 1px solid #cecece;
  border-right: 0;
  background: #F6F6f6;
  border-radius: 8px 0 0 0;
  outline:none;
  color: #555555;
}
.add{
  padding-top: 5px;
  cursor: pointer;
  font-family:  Helvetica, sans-serif;
  color: #555555;
  font-size: 30px;
  width: 7%;
  height: 52px;
  border: 1px solid #cecece;
  border-radius: 0 10px 10px 0;
  background: #F6F6f6;
  outline:none;
}
.add:hover{
  background: #e2e2e2;
}

.list{
  text-align: center;
  position: absolute;
  left: 23.45%;
  width: 46.05%;
  height: 300px;
  background: #F6F6f6;
  opacity: 0.8;
  border: 1px solid #cecece;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  z-index: 2;
}
.liInDropMenu{
  font-size: 28px;
  font-family: Trebuchet MS, Tahoma, serif;
  margin: 0.5% 0.5% 0.5% 10px;
  font-weight: bold;
  opacity: 1;
}

.cantFind{
  padding-top: 50px;
  z-index: 2;
  position: absolute;
  left: 23.45%;
  width: 46.05%;
  height: 90px;
  background: #F6F6f6;
  opacity: 0.8;
  border: 1px solid #cecece;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-size: 30px;
  font-family: Trebuchet MS, Tahoma, serif;
  font-weight: bold;
  overflow: hidden;
  color: red;
}
.cities-container{
  margin-top: 2%;
}
.cities{
  color: #607D8B;
  position:relative;
  margin: 0 10% 2% 10%;
  height: 100px;
  background-color: #f4f5dd;
  border: 1px solid #cecece;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 30px;
  font-family:  Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  z-index: 1;
}

.link {
  padding-top: 30px;
  float: left;
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
.link:hover{
  color: #404040;
  text-decoration: none;
}
.garbage{
  cursor: pointer;
  pointer: none;
  position: absolute;
  right: 1%;
  top: 20%;
}
.weather-container{
  pointer-events: none;
  margin-top: 10px;
  margin-left: 21%;
  width: 70%;
  overflow: hidden;
}
.weather{
  padding-top: 20px;
  width: 125px;
  float: left;
  margin-right: 9%;
}

.weatherIcon{
  pointer-events: none;
  float: left;
}
