
body{
  background-color: #FFECB3;
}
.myName{
  color: gray;
  text-align: center;
  font-size: 35px;
  margin: 1.5% 0;
  font-family: Trebuchet MS, Tahoma, serif;
  font-weight: bold;
}
input{
  position: fixed;
  left: 27.5%;
  margin: 0 2.5%;
  width: 35%;
  font-size: 22px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px 0 0 0;
  outline:none;
  color: #555555;
}
.list{
  position: fixed;
  left: 27.5%;
  margin: 2% 2.5%;
  width: 35.5%;
  height: 300px;
  background: #F6F6f6;
  opacity: 0.8;
  border: 1px solid #cecece;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  z-index: 2;
}
.liInDropMenu{
  font-size: 22px;
  font-family: Trebuchet MS, Tahoma, serif;
  margin: 0.5% 0.5% 0.5% 10px;
  font-weight: bold;
  opacity: 1;
}

.add{
  cursor: pointer;
  font-family:  Helvetica, sans-serif;
  color: #555555;
  font-size: 22px;
  position: fixed;
  left: 63%;
  width: 5%;
  height: 38px;
  margin: 0 2.5%;
  border: 1px solid #cecece;
  border-radius: 0 10px 10px 0;
  background: #F6F6f6;
  outline:none;
}
.add:hover{
  background: #e2e2e2;
}
.cantFind{
  z-index: 2;
  position: fixed;
  padding-top: 1%;
  left: 27.5%;
  margin: 2% 2.5%;
  width: 35.5%;
  height: 70px;
  background: #F6F6f6;
  opacity: 0.8;
  border: 1px solid #cecece;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-size: 25px;
  font-family: Trebuchet MS, Tahoma, serif;
  font-weight: bold;
  overflow: hidden;
}
.cities-container{
  margin-top: 5%;
}
.cities{
  position:relative;
  margin: 0 10% 2% 10%;
  height: 60px;
  background-color: #f4f5dd;
  border: 1px solid #cecece;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 30px;
  font-family:  Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  z-index: 1;
}

.link {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
.link:hover{
  color: #404040;
  text-decoration: none;
}
.garbage{
  cursor: pointer;
  pointer: none;
  position: absolute;
  right: 1%;
  top: 20%;
}
